---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
import Countdown from "../components/Countdown.astro";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
const CURRENT_YEAR = new Date().getFullYear();
---

<Layout>
  <main class="flex flex-col gap-2 p-2 justify-center items-center pt-40">
    <h1 class="text-4xl font-bold mb-4 text-center bg-[#264a38] p-2">
      ¡Hasta <span class="text-[#D52941]">Navidad</span> de {CURRENT_YEAR}!
    </h1>
    <p class="text-center mb-8 bg-[#264a38] p-2">Tan solo faltan...</p>
    <div class="bg-[#264a38] p-2 rounded">
      <Countdown />
    </div>
  </main>
</Layout>
