---
import Countdown from "./Countdown.astro";
const CURRENT_YEAR = new Date().getFullYear();
let DATE_END = `${CURRENT_YEAR}-12-25`;
---

<h1 class="text-4xl font-bold mb-4 text-center bg-[#264a38] p-2">
  ¡Hasta <span class="text-[#D52941]">Navidad</span> de <span id="year"></span>!
</h1>
<p class="text-center mb-8 bg-[#264a38] p-2">Tan solo faltan...</p>
<div class="bg-[#264a38] p-2 rounded">
  <Countdown
    DATE_END={DATE_END}
    title="🎄 ¡FELIZ NAVIDAD PARA TODOS! 🎄"
    subtitle="¡El gran día ha llegado! Que esta Navidad esté llena de alegría, amor y momentos inolvidables junto a tus seres queridos."
    type="christmas"
  />
</div>

<script>
  const CURRENT_YEAR = new Date().getFullYear();
  const NEXT_YEAR = CURRENT_YEAR + 1;
  const hasPassedChristmas =
    new Date() > new Date(`${CURRENT_YEAR}-12-25T00:00:00`);
  const $year = document.getElementById("year");
  if ($year) {
    $year.textContent = hasPassedChristmas
      ? NEXT_YEAR.toString()
      : CURRENT_YEAR.toString();
  }
</script>
