<aside class="right-2 bottom-12 z-50 absolute">
  <div
    class="p-2 w-80 h-10 bg-transparent absolute rounded-lg text-center text-white text-sm font-semibold shadow-lg select-none right-0 border border-white/30"
  >
    <p>Click en la pantalla para hacer más nieve!</p>
  </div>
</aside>
